@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.CadastroFundo {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.Organizacao-cadastro-containerum {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 0;
}

.Container-particao-cadastrodois {
    width:50%;
}

.Container-particao-cadastro{
    width:50%;
}

.CadastroFormBackground {
    width: 70vw;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.CadastroForm {
    height: 590px;
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;

}

.CadastroForm * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.CadastroForm:has(.error-message) {
    height: 585px;
    padding-bottom: 40px;

}

.etiquetaCadastro {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.Cadastrocampo {
    display: block;
    height: 50px;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    cursor: pointer;
    border: none;
}


.CadastroForm ::placeholder {
    color: #e5e5e5;
}

.BtnSubmitC {
    margin-top: 50px;
    width: 100%;
    background-color: #111111;
    color: #ffffff;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    height: 7vh;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.CadLeg{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
}

.BtnSubmitC:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.CadastroLink {
    color: #ffffff;
    font-weight: 300;
    display: block;
    text-decoration: none;
    margin-top: 5px;
}

.CadastroLink:hover {
    color: #000000;
    font-weight: 300;
}

.error-message{
    font-size: 14px;
    color: #ffffff79;
}
